body {
  background-color: grey;
  -webkit-animation: all fadein 2s;
}

div#additionalOptions {
  position: absolute !important;
  width: 1200px;
  height: 40px;
  margin-left: 90px;
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
}
div#additionalOptions button {
  margin-left: 1vh;
  background-color: blueviolet;
  border: none;
  border-radius: 6%;
  color: white;
}
div#additionalOptions button:hover {
  background-color: blue;
  animation: 3s all ease;
  color: white;
}

div#numOfLabelsContainer {
  position: absolute !important;
  width: 1200px;
  height: 40px;
  margin-left: 100px;
  margin-top: 70px;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
}

button.additionalButtons {
  position: relative !important;
}

.designerUtilityWindow {
  position: absolute !important;
  width: 220px;
  border: 2px solid grey;
  background-color: grey;
  border-radius: 4px;
}

.designerUtilityToolbar {
  position: fixed !important;
  width: 80px;
  border: 2px solid grey;
  border-radius: 4px;
}

.designerUtilityLabelInspector {
  height: 40px;
  line-height: 36px;
  border: 2px solid grey !important;
  min-width: 500px;
}

.designerPropertyContainer {
  min-height: 180px;
  position: fixed !important;
  top: 90px;
  right: 200px;
  width: max-content;
  height: max-content;
  overflow: hidden;
  background: #eeeeee;
  border-top: 1px solid white;
  padding-bottom: 15px;
  padding: 4px;
}

.designerPropertyContent {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: max-content;
  background: #ffffff;
  height: max-content;
}

.designerToolbarContent {
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #ffffff;
}

.designerLabelContent {
  padding: 2px;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 20%;
  min-width: 1200px;
  color: white;
}
.designerLabelContent button {
  color: white;
}
.designerLabelContent button:hover {
  color: white;
  background-color: blue;
}
.designerLabelControl {
  float: left;
}
.designerLabelControl3 {
  margin-left: 10px;
}
.designerLabelControl button,
.designerLabelControl2 button,
.designerLabelControl3 button {
  position: relative !important;
  height: 35px;
  background-color: blueviolet;
  border-radius: 12%;
  border: none;
}
.designerLabelControlContainer {
  float: left;
  font-size: 16px;
  height: 33px;
}

.designerPropertyTitle {
  background: grey;
  border: 1px solid white;
  font-size: 12px;
  position: fixed;
  top: 60px;
  right: 200px;
  width: 191px;
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 5px;
  height: 20px;
  line-height: 20px;
  /*cursor: move;*/
}

.designerToolbarButton {
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  margin: 2px;
  float: left;
}

.designerToolbarButtonActive div {
  background: grey;
  background-size: 36px 36px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.designerToolbarBarcode {
  background-image: url(../toolbar_barcode.gif);
}

.designerToolbarRectangle {
  background-image: url(../toolbar_rectangle.gif);
}

.designerToolbarCircle {
  background-image: url(../toolbar_circle.gif);
}

.designerToolbarCurrentDate {
  background-image: url(../toolbar_date.gif);
}

.designerToolbarText {
  background-image: url(../toolbar_text.gif);
}

.designerToolbarVariableText {
  background-image: url(../toolbar_variable_text.gif);
}

.designerToolbarImage {
  background-image: url(../toolbar_image.gif);
}

.designerToolbarCounter {
  background-image: url(../toolbar_counter.gif);
}

.btn {
  width: 163px;
  padding: 20px;
  background-color: white;
  color: black;
  position: fixed;
  top: 300px;
  right: 200px;
}
#labelDesigner {
  background-color: black;
}

.flexRows {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.flexRows button {
  font-size: 15px;
  width: 150px;
}
